<p>author works!</p>
<div class="form">
    <form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
     <!---- <p [style.color]="checkdata===true? 'green' : 'red'" style="text-align: center;">{{error}}</p>-->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Add Author</mat-label>
            <input matInput formControlName="Add_Author" >
            <mat-error *ngIf="categoryForm?.hasError('required') ">Username is required.</mat-error>
            <mat-icon matSuffix></mat-icon>
           <!---- <mat-error *ngIf="category?.hasError('required') ">Username is required.</mat-error>-->
            <!--<mat-error *ngIf="error">Username is required.</mat-error>-->
           <!----<p [style.color]="checkdata===true? 'green' : 'red'">{{error}}</p>-->
          </mat-form-field>
        </div>  
        <div class="button1">
          <button mat-raised-button mat-button color="accent">Create</button>
        </div>
      </form> 

</div>
